.content{
    display: flex;
    flex-direction: column;
}
.benefitsSection {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: left;
    gap: 1rem;
  }

  .heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .benefitsCards{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    
  }

  .cardBenefit {
    width: 100%;
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    padding: 2rem;
  }
  
  .benefitTitle {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0.5rem 0;
    color: #000;
  }
  
  .benefitDescription {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
  }
  
  .benefitDescription strong {
    font-weight: bold;
  }


.jobSection{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.jobGrid{
  display: flex;
}

