.pyramidContainer {
  max-height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.pyramid-svg {
  width: 100%;
  max-width: 1600px;
  /* removed pointer-events: none so hover still registers on the <g> elements */
}

.pyramid-line {
  stroke: #000000;
  stroke-width: 0.3;
  transition: all 0.2s;
}

.highlighted {
  stroke: #c1121f;
  stroke-width: 0.5;
}

.pyramid-node {
  fill: #333333;
}

/* popup card wrapper */

.popcardContainer {
  position: absolute;
  z-index: 10;
  /* transform-origin: right center; */
  animation: fadeIn 0.2s ease-out forwards;
  pointer-events: none; 
  transform-origin: bottom center;

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% {
    opacity: 1;
    /* no transform here */
  }
}

@media (max-width: 600px) {
  .pyramidContainer {
    max-height: none;
    overflow: auto;
  }

  .pyramid-svg {
    width: 100%;
    height: auto;
  }

  .popcardContainerMobile {
    position: absolute;
    z-index: 10;
    animation: fadeIn 0.2s ease-out forwards;
    pointer-events: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}