/* Hero section */
.coreHero{
  height: 400px;
}

/* General container styling */
.pageResourcesContainer {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}


/* Navbar styling */
.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}


.ResourcesTitle{
  font-weight: 400;
  font-style: italic;
}

/* Slideshow */

.slideShow{
  min-height: 400px;
  
}

/* Resources grid layout */
.resources {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  padding: 2rem 0;
}
