.partnersContainer{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.pagePartnership p {
    white-space: pre-wrap;
}


@media (max-width: 768px) {
  .partnersContainer {
    padding: 1rem;
    gap: 1.5rem;
  }

  .pagePartnership p {
    font-size: 1rem;
    text-align: center;
  }
}


