.hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 50px;
}

.splitTitle {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    color: black;
    letter-spacing: 0.05em;
  }

.heroContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

    h1{
        font-size: 4rem; /* Large and bold */
        font-weight: 800;
        text-align: center;
        margin: 1rem 0;
        padding: 0;
        letter-spacing: 1px;
        white-space: pre-wrap;
    }

    p{
        font-size: 1rem;
        margin: 1rem 0;
        padding: 0;
        text-align: center;
    }

    .btnContainer{
        margin: 1rem 0;
    }

